<div class="container" style="text-align: center;">
  <div class="col-md-12">
    <h1>Aplicação integrada à senior X Platform</h1>
  </div>
  <div class="row form-group">
    <div class="col-12">
      <h4>Clique aqui para obter os dados do usuário logado</h4> <button (click)="getLoggedUser()"
        class="btn btn-primary">Obter dados</button>
    </div>
  </div>
  <div *ngIf="userData.username">
    <div class="row">
      <div class="col-6 text-left">Nome Completo:</div>
      <div class="col-6 text-left">{{userData.fullName}}</div>
    </div>
    <div class="row">
      <div class="col-6 text-left">E-mail:</div>
      <div class="col-6 text-left">{{userData.email}}</div>
    </div>
    <div class="row">
      <div class="col-6 text-left">Usuário:</div>
      <div class="col-6 text-left">{{userData.username}}</div>
    </div>
    <div class="row">
      <div class="col-6 text-left">Nome do tenant:</div>
      <div class="col-6 text-left">{{userData.tenantName}}</div>
    </div>
    <div class="row">
      <div class="col-6 text-left">Domínio do tenant:</div>
      <div class="col-6 text-left">{{userData.tenantDomain}}</div>
    </div>
    <div class="row">
      <div class="col-6 text-left">Locale do tenant:</div>
      <div class="col-6 text-left">{{userData.tenantLocale}}</div>
    </div>
  </div>
</div>